<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


  <connectionStrings>
    <!-- Trusted_Connection is used to denote the connection uses Windows Authentication -->
    <add name="_WindowsAuthenticationConnection" connectionString="Data Source=(local);Initial Catalog=PortalTest1;Integrated Security=True" />
    
    <!-- SQl Server Authentication -->
    <add name="_SQLServerAuthenticationConnection" connectionString="Data Source=(local);Initial Catalog=PortalTest1;Persist Security Info=True;User ID=sa;Password=Abcd1234" />
  </connectionStrings>
  <appSettings>
    <!-- Location of file -->
    <add key="FileLocation" value="C:\\Users\\Administrator\\Documents\\test.csv" />
        <!-- Test Query 1 -->
    <add key="Query1" value="SELECT * FROM [PortalTest1].[dbo].[ADMN_Config]" />
  
  </appSettings>
</configuration>